/* Links und Buttons */

a {
  color: var(--color-white);
  text-decoration: none;
}

.svg {
  fill: gray;
  /* width: 24px; */
  height: 24px;

}

/* button {
  background-color: black;
  border: none;
  padding: 4px;
} */

.btn-add-to-basket {
  color: var(--color-second);
  font-size: 16px;
  font-weight: 600;
  background-color: var(--color-white);
  border: none;
  border-radius: 20px;
  padding: 5px 8px;
  cursor: pointer;
  
}

.btn-add-to-basket:hover {
  color: var(--color-dark);
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 2px;
}

.btn-buy-now {
  color: rgba(251, 251, 251, 1);
  font-size: 32px;
  font-weight: 700;
  background-color: var(--color-dark);
  border: none;
  border-radius: 60px;
  padding: 16px;
  width: 100%;
}