/* Links und Buttons */

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
}

.footer-nav-bar-svg {
  box-sizing: content-box;
  fill: var(--color-white);
  padding: 4px;
  height: 24px;
}

.footer-nav-bar-svg:hover {
  background-color: var(--color-white);
  fill: var(--color-dark);
  border-radius: 6px;
}

.dishes-added-to-basket {
  fill: var(--color-dark);
}

.circle-amount-dishes {
  position: absolute;
  bottom: 32px;
  right: 24px;
  color: var(--color-dark);
  background-color: var(--color-light);
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.btn-add-to-basket {
  color: var(--color-second);
  font-size: 16px;
  font-weight: 600;
  background-color: var(--color-white);
  border-radius: 20px;
  padding: 5px 8px;
}

.btn-add-to-basket:hover {
  color: var(--color-dark);
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 2px;
}

.btn-added-to-basket {
  color: var(--color-dark);
}

.btn-minus-plus {
  color: var(--color-second);
  background-color: var(--color-light);
  padding: 0;
}

.btn-buy-now {
  color: rgba(251, 251, 251, 1);
  font-size: 32px;
  font-weight: 700;
  text-wrap: balance;
  background-color: var(--color-dark);
  border-radius: 60px;
  padding: 16px;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .btn-buy-now {
    font-size: 24px;
  } 
}

@media screen and (max-width: 480px) {
  .circle-amount-dishes {
    right: 16px;
  } 
}



